{% load staticfiles static %}

<!DOCTYPE html>
<head>
	<title>{%block title %} Buza Home{%endblock%}</title>
	<link rel="stylesheet" href="{% static "css/base_style.css" %}" >
    <link href="{% static "css/boards.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/tinymce_custom_init.js' %}" ></script>
</head>

<body>
	<div id="header">
		<div><span class="logo">Buza <br></span></div>
         {% if request.user.is_authenticated %}
        <div>
      <div class="dropdown" style="float:left;">
             <button class="dropbtn"><i class="material-icons" style="font-size: 40px;">account_circle</i><br>{{request.user.username}}
      <i class="fa fa-caret-down"></i> </button>
            <div class="dropdown-content">
                <a href="{% url 'view' %}">View Account</a>
                 <a href="{% url 'edit' %}"> Edit Account</a>
                   <a href="{% url 'password_change' %}"> Change Password</a>
                    <a href="{% url 'logout' %}"> Logout</a>
                     </div>
                 </div>
     <div style="float:right;">
        <a href="{% url "ask_question" %}">
            <i class="material-icons"style="font-size: 40px;">contact_support</i></a>
     </div>
     </div>
		<ul class="menu">
         <li {% if section == 'resources' %}class="selected"{% endif %}><a href="{% url 'questions' %}"> <i class="material-icons" style="font-size: 40px;">home</i></a></li>
        <li {% if section == 'all_boards' %}class="selected"{% endif %}><a href="{% url 'all_boards' %}"> <i class="material-icons" style="font-size: 40px;">subject</i></a></li>
         <li {% if section == 'users' %}class="selected"{% endif %}><a href="{% url 'users' %}"> <i class="material-icons" style="font-size: 40px;">search</i></a></li>
         <li {% if section == 'users' %}class="selected"{% endif %}><a href="{% url 'users' %}"> <i class="material-icons" style="font-size: 40px;">notifications</i></a></li>
     </ul>

     	{% else %}
     		 <a href="{% url 'login' %}" style="background-color: silver; padding: 10px;font-weight: bold; border-radius: 10%;">Log-In</a>
     		  <a href="{% url 'register' %}" style="background-color: lightblue; padding: 0px;font-weight: bold; border-radius: 10%;">Sign-Up</a>
     	{% endif %}
	</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{message|safe}}
            <a href="#" class="close">x</a>
        </li>
        {%endfor%}
    </ul>
    {% endif %}

	<div id="content">
            {% block content %}
            {% endblock %}
    </div>
    <div id=footer>
        {% block footer %}
        {% endblock %}
    </div>

</body>

</html>
