{% load humanize %}
{% comment %}
    A question card with full details.

    Expected context:

    * question: The question being viewed
    * user (Optional): The viewing user
{% endcomment %}
    <div class=" card question__card mx-auto table-hover">
    <div class="question__card-header d-flex justify-content-between buza-blue_text">
        <a href="{% url 'user-detail' question.author.pk %}">
            @{{ question.author.username }}</a>
        <a href="{% url 'subject-detail' question.subject.pk %}" class=" buza-green_text">
            {{question.subject}}</a>
        <p class="date question__attribution buza-grey_text">
            {{ question.created | naturaltime}}</p>
  </div>
    <a href="{% url 'question-detail' question.pk %}" class="d-block question__title">
       {{ question.title|linebreaks}}
    </a>

</div>
