{% load humanize %}
{% comment %}
    A question card with only brief details.

    Expected context:

    * question: The question being viewed
{% endcomment %}
<div class=" card question__card mx-auto table-hover">
    <div class="question__card-header d-flex justify-content-between">
        @{{ question.author.username }}
            <a href="{% url 'subject-detail' question.subject.pk %}" class=" question__attribution buza-green_text"> {{question.subject}}</a>
             <p class="date question__attribution buza-blue_text"> {{ question.created | naturaltime}}</p>
  </div>
    <a href="{% url 'question-detail' question.pk %}" class="d-block question__title">
       {{ question.title|linebreaks|truncatewords:50 }}
    </a>
    <div class="question__body">
        {{ question.answer_set.all.0.body|truncatewords:50}}
    </div>

</div>
