{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
  </head>
  <body>
    <h1>Questions</h1>

    <div class="all_questions">
    {% for question in questions %}


    <div class="question">
      <h3>
         <a href="{% url 'view_question' question.board.slug question.id question.slug %}">
      {{ question.title }}
       </a>
       <i class="material-icons" style="float: right;">share</i>

    <div id="votes" style="width: 5%;float: left;padding-right: 5%;">
       {% block like %}
                {% include "boards/question_votes.html" with parent=question%}
         {% endblock %}
  </div>
  </h3>
      {{question.description}}
<br>
{{board.title}}
<br>
asked on: {{question.created_at}}
<br>
updated on: {{question.updated_at}}
<br>

{% if question.media %}
media files: <img src="{{question.media.url }}" alt="unable to load image" width="500px">
<br>
{% endif %}
asked by: {{user.username}}
<br>
      </div>

    <br>
    {% endfor %}
    </div>
  </body>
</html>
{% endblock %}