{% extends "base.html" %}

{% block content %}
<h1>{{question.title}}</h1>
<br>
<div id="question_view" style="width: 50%;
    text-align: center; left:50%;margin-left: 100px;display: flex;">
    <div id="votes" style="width: 10%;float: left;height: 100%;">
	     {% block like %}
                {% include "boards/votes.html" with parent=question user=answer.user%}
         {% endblock %}
	</div>
    <div id="content" style="width: 80%;float: right;height: 100%;background: azure">
{{question.description}}
<br>
{{board.title}}
<br>
asked on: {{question.created_at}}
<br>
updated on: {{question.updated_at}}
<br>

{% if question.media %}
media files: <img src="{{question.media.url }}" alt="unable to load image" width="500px">
<br>
{% endif %}
asked by: {{user.username}}
<br>
</div>
 {% if request.user.is_authenticated and request.user == user %}
     <div name="edit_question">
        <a href="{% url 'edit_question' question.id question.slug %}" style="background-color: yellow; padding: 10px;font-weight: bold; border-radius: 10%;font-family: 'Chalk', sans-serif;float:right;">Edit Question</a>
     </div>
     <div name="remove_question">
        <a href="" style="background-color: red; padding: 10px;font-weight: bold; border-radius: 10%;font-family: 'Chalk', sans-serif;float:right;">Delete Question</a>
     </div>
     {% endif %}

 {% if request.user.is_authenticated %}
 <a href="#myLink">
 <p style=" color: grey; float: center;font-style: italic;">Add Comment</p>
</a>
 {% else %}
<a href="{% url "login" %}" > Login</a>to comment
 {% endif %}
 </div>
     {% block answers %}
        {% if answers %}
            {%for answer in answers %}
                {% include "boards/answer_view.html" with answer=answer user=answer.user%}
            {% endfor %}
        {%endif%}
    {% endblock %}
    {% if request.user.is_authenticated and not has_answered %}
     <form action="." method="post" enctype="multipart/form-data">
        <h2>Add your answer</h2>
        {{answer_form}}
    {% csrf_token %}
    <input type="submit" value="Post Answer">
</form>
    {% elif not has_answered %}
    <a href="{% url "login" %}" > log-in here to answer </a>
     {% endif %}


     Not the answer you were looking for? Browse other questions tagged:
{% endblock %}
