{% extends "base.html" %}

{% block content %}
<h1>{{question.title}}</h1>
<br>
<div id="question_view" style="width: 80%;
    text-align: center; left:50%;display: flex; padding-left: 1%;">
    <div id="votes" style="width: 5%;float: left;height: 100%;padding-right: 5%;">
	     {% block like %}
                {% include "boards/votes.html" with parent=question user=answer.user%}
         {% endblock %}
	</div>
    <div id="content" style="width: 80%;float: right;height: 100%;background: azure; font-size: 16px;">
{{question.description}}
<br>
{{board.title}}
<br>
asked on: {{question.created_at}}
<br>
updated on: {{question.updated_at}}
<br>

{% if question.media %}
media files: <img src="{{question.media.url }}" alt="unable to load image" width="500px">
<br>
{% endif %}
asked by: {{user.username}}
<br>
 <div name="question_meta">
 {% if request.user.is_authenticated %}
 <a href=""><p style=" color: grey; float:left;font-style: italic;">Add a comment</p></a>
 {% else %}
<a href="{% url "login" %}" > Login</a>to comment
{% endif %}
 {% if request.user.is_authenticated and request.user == user %}
        <a href="" > <i class="material-icons" style="color: lightCoral;float:right; padding-left: 5%;">delete</i></a>
        <a href="{% url 'edit_question' question.id question.slug %}" style="float:right; padding-left: 5%;"><i class="material-icons">edit</i> </a>
        <i class="material-icons">share</i>

     {% endif %}
 </div>
 </div>
 </div>
     {% block answers %}
        {% if answers %}
            {%for answer in answers %}
                {% include "boards/answer_view.html" with answer=answer user=answer.user%}
            {% endfor %}
        {%endif%}
    {% endblock %}
    {% if request.user.is_authenticated and not has_answered %}
     <form action="." method="post" enctype="multipart/form-data">
        <h2>Add your answer</h2>
        {{answer_form}}
    {% csrf_token %}
    <input type="submit" value="Post Answer">
</form>
    {% elif not has_answered %}
    <a href="{% url "login" %}" > log-in here to answer </a>
     {% endif %}


     Not the answer you were looking for? Browse other questions tagged:
{% endblock %}
