{% load vote_tags %}

{%if not request.user.is_authenticated%}
 <div style="padding-top: 55%;">
  <a href= "login">
         <i class="material-icons icon" style="color: lightgreen;font-size: 40px;">
          thumb_up<span class="tooltiptext">Login to vote for this question</span>
    </i>
       </a>

      <div style="color: lightgreen;font-size: 40px;">
     {% vote_count parent %}
   </div>

    <a href= "login">
        <i class="material-icons icon" style="color: yellow;font-size: 40px;">bookmark_outline</i>
        <span class="tooltiptext" style="background: yellow;">Login to bookmark this question</span>
        </a>
       </div>
{% elif  parent.user == request.user %}
<div style="padding-top: 55%;">
         <form action="" method="post" enctype="multipart/form-data" class="tooltip">
        <i class="material-icons icon" style="color: yellow;font-size: 40px;">bookmark_outline<input type="submit" value="" name= 'star' ></i>
        <span class="tooltiptext" style="background: yellow;">Click to mark as favourite question</span>
        </form>
       </div>

{% else %}
	{# user can vote #}
  <div style="padding-top: 55%;">
  <form action="" method="post" enctype="multipart/form-data" class="tooltip">
    <span class="tooltiptext" style="background: lightgreen;">This answer was helpful</span>
    {% csrf_token %}
            <button type="submit" class="material-icons icon" name= 'vote_up-question'
            style="color: lightgreen;" >
         thumb_up </button>
       </form>

      <div style="color: lightgreen;font-size: 20px;">
     {% vote_count parent %}
   </div>
   <form action="" method="post" enctype="multipart/form-data" class="tooltip">
        <span class="tooltiptext" style="background: yellow;">Click to mark as favourite question</span>
        {% csrf_token %}
        <button type="submit"
        class="material-icons icon" value="" name= 'star' style="color: yellow;">
        {% is_starred parent request.user as star%}
         {% if star %}
         bookmark
         {% else %}
         bookmark_outline
         {% endif %}
       </button>
        </form>
       </div>
{% endif %}
