{% load vote_tags %}


{% vote_exists parent request.user  as has_voted %}
{%if not request.user.is_authenticated%}
I need to login
{% elif has_voted%}
already voted
         <a href="" class="tooltip">
        <i class="material-icons" style="color: yellow;font-size: 40px;">bookmark_outline</i>
        <span class="tooltiptext" style="background: yellow;">Click to mark as favourite question</span>
        </a>
{% elif  parent.user == request.user %}
<div style="padding-top: 55%;">
		  <a href="" class="tooltip">

         <i class="material-icons " style="color: grey;font-size: 40px;">
          thumb_up_alt</i>
      <span class="tooltiptext">You cannot vote for your own question</span>
   </a>
   <div style="color: lightgreen;font-size: 40px;">
     {% vote_count parent %}
   </div>

       <a href="" class="tooltip">
                 <i class="material-icons" style="color: grey;font-size: 40px; ">thumb_down_alt</i>
         <span class="tooltiptext" style="background: lightBlue;">You cannot vote for your own question</span>
       </a>
         <a href="" class="tooltip">
        <i class="material-icons" style="color: yellow;font-size: 40px;">bookmark_outline</i>
        <span class="tooltiptext" style="background: yellow;">Click to mark as favourite question</span>
        </a>
       </div>

{% else %}
	{# user can vote #}
  <div style="padding-top: 55%;">
  <form action="" method="post" enctype="multipart/form-data" class="tooltip">
         <i class="material-icons " style="color: lightgreen;font-size: 40px;">
          thumb_up<span class="tooltiptext">Was this answer helpful</span>
    {% csrf_token %}
    <input type="submit" value="" name= 'vote-up' >
    </i>

       </form>

      <div style="color: lightgreen;font-size: 40px;">
     {% vote_count parent %}
   </div>

  <a href="" class="tooltip">
         <i class="material-icons" style="color: lightBlue;font-size: 40px; ">thumb_down</i>
         <span class="tooltiptext" style="background: lightBlue;">This answer was not helpful</span>
       </a>
         <a href="" class="tooltip">
        <i class="material-icons" style="color: yellow;font-size: 40px;">bookmark_outline</i>
        <span class="tooltiptext" style="background: yellow;">Click to mark as favourite question</span>
        </a>
       </div>
{% endif %}
