*
!.env.example
!.git
!.yarnclean
!Pipfile
!Pipfile.lock
!README.rst
!buza-instance
!deploy/nginx.conf
!examples
!mypy.ini
!package.json
!requirements-pipenv.txt
!setup.cfg
!setup.py
!src
!tests
!yarn.lock
*.pyc
