*
!.env.example
!.git
!Pipfile
!Pipfile.lock
!README.rst
!buza-instance
!examples
!mypy.ini
!package.json
!setup.cfg
!setup.py
!src
!tests
!yarn.lock
*.pyc
# Elastic Beanstalk Files
.elasticbeanstalk/*
