[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
buza-website = {editable = true, path = "."}
gunicorn = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
mypy = "*"
tox = "*"
"flake8-commas" = "*"
pytest = "*"
pytest-django = "*"
setuptools-scm = "*"

[requires]
python_version = "3.6"
