{%extends "base.html"%}

{%block title%} Logging-in {%endblock%}

{% block content%}
<h1>Buza Login</h1>
{%if form.errors %}
 <p>Your username and password do not match. Please try again</p>
 {% else %}
 <p>Please enter your login details below:</p>
 {% endif %}
 <div class="login-form">
 	<form action="{% url  "login" %}" method="post">
 	{{form.as_p}}
 	{% csrf_token %}
 	<input type="hidden" name="next" value="{{ next }}" />
 	<p><input type="submit" value="Log-in"> </p>
 	</form>
 	<p><a href="{% url "password_reset" %} ">Forgot your password?</a></p>
 </div>
<div class="social">
	<ul>
		<li class="facebook"> <a href=" {% url 'social:begin' 'facebook' %}">Login with Facebook</a></li>
		<li class="google"> <a href=" {% url "social:begin" "google-oauth2" %}">Login with Google</a></li>
		<li class="twitter"> <a href=" {% url "social:begin" "twitter" %}">Login with Twitter</a></li>
	</ul>

</div>
 {% endblock %}

