{% extends "base.html" %}

{%block title%} Logging-in {%endblock%}

{% block content%}
<h1>Buza Login</h1>
{%if form.errors %}
 <p>Your username and password do not match. Please try again</p>
 {% else %}
 <p>Please enter your login details below:</p>
 {% endif %}
 <div class="login-form">
 	<form action="{% url  "login" %}" method="post">
 	{{form.as_p}}
 	{% csrf_token %}
 	<input type="hidden" name="next" value="{{ next }}" />
 	<p><input type="submit" value="Log-in"> </p>
 	</form>
 	<p><a href="{% url "password_reset" %}">Forgot your password?</a></p>
 </div>
<div class="social">
	<ul>

		<li class="facebook"><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a></li>
		<li class="google"> <a  href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a></li>
		<li class="twitter"> <a href=" {% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a></li>
	</ul>

</div>
By signing up you indicate that you have read and agree to Buza Answer's 
<a href="{% url "terms-of-service" %}">Terms of Service</a> and <a href="{% url "privacy-policy" %}">Privacy Policy.</a>
 {% endblock %}

