{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-grid.min.css' %}">

    <link rel="icon" href="{% static 'buza/images/buza-logo.png' %}">
    <link rel="stylesheet" href="{% static 'buza/css/site.css' %}">

    {% block head_extra %}{% endblock %}

    <title>{% block title %}Buza{% endblock %}</title>
</head>

<body class="bg-buza-site">

<nav class="buza-nav">
    <div class="container">

        <div class="row">
            <div class="col">
                <a href="{% url 'home' %}" class="buza-nav__link">
                    <h1>Buza</h1>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="{% url 'subject-list' %}" class="buza-nav__link">Subjects</a>
            </div>
            <div class="col">
                <a href="{% url 'question-list' %}" class="buza-nav__link">Questions</a>
            </div>
            <div class="col">
                {% if user.is_authenticated %}
                    <a href="{% url 'user-detail' pk=user.pk %}" class="buza-nav__link">Account</a>
                {% else %}
                    <a href="{% url 'login' %}" class="buza-nav__link">Sign in</a>
                {% endif %}
            </div>
        </div>

    </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message }}
        </li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>

</html>
