{% extends "base.html" %}

{% block content %}
    <h1>Boards</h1>
    <div>
               <a href="{% url 'all_boards' %}" style="background-color: silver; padding: 10px;font-weight: bold; border-radius: 10%;">all-boards</a>
          <a href="{% url 'my_boards' %}" style="background-color: lightblue; padding: 10px;font-weight: bold; border-radius: 10%;">my-boards</a>
    </div>
    <br>
    <div class="boards">
    {% for board in boards %}
    <div class="board">
      <br>
      <a href="{% url 'board_questions' board.title %}" style="font-weight: bold;color: white;">
      {{ board.title }}
    </a>
      members: {{board.users_count}}
      questions: {{board.questions_count}}
      </div>
    {% endfor %}
    </div>
{% endblock %}