{% extends "base.html" %}

{% block content %}
{{question.title}}
<br>
<div >
	<a style="background-color: red;">Like Dislike</a>
	<br>
{{question.description}}
</div>
<br>
{{board.title}}
<br>
asked on: {{question.created_at}}
<br>
updated on: {{question.updated_at}}
<br>

{% if question.media %}
media files: <img src="{{question.media.url }}" alt="unable to load image" width="500px">
<br>
{% endif %}
asked by: {{user.username}}
<br>
 {% if request.user.is_authenticated and request.user == user %}
     <div name="edit_question">
        <a href="{% url 'edit_question' question.id question.slug %}" style="background-color: yellow; padding: 10px;font-weight: bold; border-radius: 10%;font-family: 'Chalk', sans-serif;float:right;">Edit Question</a>
     </div>
     <div name="remove_question">
        <a href="" style="background-color: red; padding: 10px;font-weight: bold; border-radius: 10%;font-family: 'Chalk', sans-serif;float:right;">Delete Question</a>
     </div>
     {% endif %}

 {% if request.user.is_authenticated %}
 <p>Comment</p>
 {% else %}
<a href="{% url "login" %}" > Login</a>to comment
 {% endif %}

     {% block answers %}
        {% if answers %}
            {%for answer in answers %}
                {% include "boards/answer_view.html" with answer=answer user=answer.user%}
            {% endfor %}
        {%endif%}
    {% endblock %}
    {% if request.user.is_authenticated and not has_answered %}
     <form action="." method="post" enctype="multipart/form-data">
        <h2>Add your answer</h2>
        {{answer_form}}
    {% csrf_token %}
    <input type="submit" value="Post Answer">
</form>
    {% elif not has_answered %}
    <a href="{% url "login" %}" > log-in here to answer </a>
     {% endif %}

     <br>
     Not the answer you were looking for? Browse other questions tagged:
{% endblock %}

{% block footer %}

{% endblock %}