/* Styles for questions. */

/* Block: Question */
.question {
    background-color: white;
    padding: 1em 2em;
    /* Spacing between questions: */
    margin-top: 1em;
    margin-bottom: 1em;
    /* Shadow */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0.15em;
    max-width: 45em;
}
.question__title {
    font-weight: bold;
}
.question__attribution {
    opacity: 0.5;
    font-size: smaller;
}

.question__answers_heading {
    font-weight: bold;
    text-align: center;
    color: DarkOrchid;
}

/* XXX (Pi 2018-08-27): Temporary btn-primary override for our Buza green, until we do this better. */
.btn-buza-green {
    background-color: #32CD32;
    border-color: #32CD32;
    border-radius: 1em;
}

.question__add_answer {
    background-color:MediumOrchid ;
    border-radius: 12px;
    padding: 1px 4%;
    text-align: center;
    color: white;
}

.question__edit_answer {
    background-color:Orchid ;
    border-radius: 12px;
    padding: 1px 2%;
    text-align: center;
    color: white;
}

/* XXX (Pi): Temporarily hack around these textareas being too wide on small views. */
textarea[name=body] {
    max-width: 100%;
}

.questiontopic__box {
    padding: 1% 1%;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 12px;
    margin:1%;

}

/* TODO (Pi 2018-08-27): Target the Bootstrap form-control class directly, for now. Customise this more properly later. */
.form-control {
    border: 2px solid #32CD32;
}
