/* Site-wide Buza styles. */

:root{
    --buza-blue:    #5689E8;
    --buza-light-blue: #3BC9EC;
    --buza-green:    #62DD7F;
    --buza-grey:    #A6C8C6;
    --buza-light-green:  #77DB8F;
    --buza-light-purple: #C6B9CA;
    --buza-purple: #B293BC;
}

@font-face {
    font-family: buzaFont;
    src: url(fonts/GothamRounded-Light.ttf);
  }

.bg-buza-site {
    background-color: --var(buza-grey);
    font-family: buzaFont;
}

.buza-green_text{
color: var(--buza-green);
}

.buza-blue_text{
color: var(--buza-blue);
}
.buza-grey_text{
    color: var(--buza-grey);
}

.buza-purple_text{
    color: var(--buza-purple);
}
/* Block: Navigation bar. */
.buza-nav {
    background: linear-gradient(to bottom right, #17EAD9, #6078EA), #5689E8;
    color: white;
    /* A bit of space before the content. */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}
/* Element: Navigation bar links. */
.buza-nav__link {
    display: block;
    text-align: center;
}
.buza-nav__link, .buza-nav__link:hover {
    color: white;
}

.buza-container {
    margin-left: 0;
    max-width: 100%;
}


