/* Site-wide Buza styles. */

:root{
    --buza-blue:    #5689E8;
    --buza-green:    #32CD32;
    --buza-grey:    #FAFAFA;
    --buza-light-green:  #D4EDDA;
}

.bg-buza-site {
    background-color: var(buza-grey);
}

.buza-green_text{
color: var(--buza-green);
}

.buza-blue_text{
color: var(--buza-blue);
}

/* Block: Navigation bar. */
.buza-nav {
    background: linear-gradient(to bottom right, #17EAD9, #6078EA), #5689E8;
    color: white;
    /* A bit of space before the content. */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}
/* Element: Navigation bar links. */
.buza-nav__link {
    display: block;
    text-align: center;
}
.buza-nav__link, .buza-nav__link:hover {
    color: white;
}

.buza-container {
    margin-left: 0;
    max-width: 100%;
}


