/* Styles for Subjects. */

/* Block: Subjects */
.subject__card {
    background-color: white;
    padding: 1% 1%;
    /* Spacing between subjects: */
    margin: 1% 0% 0% 1%;
    display: table;
    /* Shadow */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    text-align: center;
    width: 31%;
}

@media screen and (max-width: 650px) {
  .subject__card {
    width: 100%;
    display: block;
  }
}

.question__answers_heading {
    font-weight: bold;
    text-align: center;
    color:  #5689E8;
}

.subject__title {
    font-weight: bold;
}
.subject__attribution {
    opacity: 0.5;
    font-size: smaller;
}

.subject__follow-button{
    background-color: white;
    color: rgb(64,64,64);
    border: 2px solid #5689E8;; /* Nav bar color */
    border-radius: 12px;
}

.subject__following-button{
    background:  #5689E8;
    color: white;
    border: 2px solid #5689E8; /* Nav bar color */
    border-radius: 12px;
    font-weight: bold;
}
