/* Styles for Subjects. */

/* Block: Subjects */
.subject {
    background-color: white;
    padding: 1em 2em;
    /* Spacing between questions: */
    margin-top: 1em;
    margin-bottom: 1em;
    /* Shadow */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    text-align: center;
}

subject-nav_bar{
    background-color: silver;
    padding: 1%;
    font-weight: bold;
    border-radius: 10%;
}

.subject__title {
    font-weight: bold;
}
.subject__attribution {
    opacity: 0.5;
    font-size: smaller;
}

.subject__follow-button{
    background: lightgreen;
}

.subject__unfollow-button{
    background: green;
    border: None;

}
