/* Styles for Subjects. */

/* Block: Subjects */
.subject__card {
    padding: 1em 2em;
    text-align: center;
    display: inline-block;
}
.subject__card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

subject-nav_bar{
    background-color: silver;
    padding: 1%;
    font-weight: bold;
    border-radius: 10%;
}

.subject_heading {
    font-weight: bold;
    text-align: center;
    color:  #5689E8;
}

.subject__title {
    font-weight: bold;
}

.subject__follow-button{
    background-color: white;
    color: rgb(64,64,64);
    border: 2px solid #5689E8;; /* Nav bar color */
    border-radius: 12px;
}

.subject__following-button{
    background:  #5689E8;
    color: white;
    border: 2px solid #5689E8; /* Nav bar color */
    border-radius: 12px;
    font-weight: bold;
}

.subject__subjects-nav{
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #32CD32; /* Green */
}

.subject__subjects-nav-view{
    background: #32CD32; /* Green */
}

.subject__subjects-nav-view, .subject__subjects-nav-view:hover{
    color: white;
}

.subject__subjects-nav-hidden{
    background-color:white;
}

.subject__subjects-nav-hidden, .subject__subjects-nav-hidden:hover{
   color:   #32CD32; /* Green */
}
