{% load staticfiles %}

<!DOCTYPE html>
<head>
	<title>{%block title %} {%endblock%}</title>
	<link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div id="header">
		<span class="logo">Eboard</span>

		{% if request.user.is_authenticated %}
		<ul class="menu">
		 <li {% if section == "home" %}class="selected"{% endif %}><a href="{% url "home" %}"><h2>Questions</h2></a></li>
         <li {% if section == "resources" %}class="selected"{% endif %}><a href="{% url "resources" %}"><h2>Resources</h2></a></li>
         <li {% if section == "users" %}class="selected"{% endif %}><a href="{% url "users" %}"><h2>People</h2></a></li>
         
     </ul>
     {%endif%}

     <span class="user">
     {% if request.user.is_authenticated %}
        <div class="dropdown" style="float:right;">
             <button class="dropbtn">Hello {{request.user.first_name}}
      <i class="fa fa-caret-down"></i> </button>
            <div class="dropdown-content">
                <a href="{% url "edit" %}">View Account</a>
                 <a href="{% url "edit" %}"> Edit Account</a>
                   <a href="{% url "password_change" %}"> Change Password</a>
                    <a href="{% url "logged_out" %}"> Logout</a>
                     </div>
                 </div>
      
     	{% else %}
     		 <a href="{% url "login" %}" style="background-color: silver; padding: 10px;font-weight: bold; border-radius: 10%;">Log-In</a>
     		  <a href="{% url "register" %}" style="background-color: lightblue; padding: 10px;font-weight: bold; border-radius: 10%;">Sign-Up</a>
     	{% endif %}
     </span>
	</div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}"> 
            {{message|safe}}
            <a href="#" class="close">x</a>
        </li>
        {%endfor%}
    </ul>
    {% endif %}

	<div id="content">
		{% block content %}
        {% endblock %}
    </div>

</body>

</html>