{% extends 'base.html' %}
{% comment %}
Expected context:

* question: The question being answered

{% endcomment %}

{% block title %}Answer question - {{ block.super }}{% endblock %}

{% block content %}
<div class="question">
        <h3>{{ question.title }}</h3>
        {% if user == question.author %}
                    <a href="{% url 'question-edit' pk=question.pk%}" style="color:yellow;font-weight:bold;"> Edit </a>
                    {% endif %}
        <div>
            {{ question.body|linebreaks }}
             <p style="font-size: smaller">
            {{question.subject.title}}
             </p>
        </div>

        <p style="font-size: smaller">
            Asked by:
            <a href="{% url 'user-detail' pk=question.author.pk %}">
                {{ question.author.get_full_name|default:question.author.username }}
            </a>
            <br>
            Asked on: {{ question.created }}
            <br>
            Last modified: {{ question.modified }}
        </p>
</div>
    <form method="post" action=
            "{% if answer.pk %} {% url 'answer-edit' pk=answer.pk %}
            {% else %}
            {% url 'answer-create' question_pk=question.pk %}
            {% endif %}">  {# FIXME #}
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{% if answer.pk %}Update answer {% else %} Answer{% endif %}">
    </form>
{% endblock %}
