{% extends 'base.html' %}
{% comment %}
Expected context:

* question: The question being answered

{% endcomment %}
{% load static %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block title %}Answer question - {{ block.super }}{% endblock %}

{% block content %}

    {% include 'includes/question_card_full.html' with question=question only %}

    <form method="post" action=
            "{% if answer.pk %} {% url 'answer-update' pk=answer.pk %}
            {% else %}
            {% url 'answer-create' question_pk=question.pk %}
            {% endif %}">  {# FIXME #}
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" value="{% if answer.pk %}Update answer {% else %} Answer{% endif %}">
        </p>
    </form>

{% endblock %}
