{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'buza/css/questions.css' %}">
{% endblock %}

{% block title %}Ask a question - {{ block.super }}{% endblock %}

{% block content %}
    <form method="post"
          action="{% if question.pk %}{% url 'question-update' pk=question.pk %}{% else %}{% url 'question-create' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" Value ="{% if question.pk %}Update question{% else %}Ask question{% endif %}">
        </p>
    </form>
{% endblock %}
