{% extends 'base.html' %}

{% block title %}Questions - {{ block.super }}{% endblock %}

{% block content %}
    <h1>Questions</h1>

    {% for question in question_list %}
        <div class="question">
            <div class=user-format>
                <button type="submit" class="material-icons icon" name='view_user'>account_circle </button>
                {{ question.author.get_full_name|default:question.author.username }}
                <a class="date"> {{ question.created }}</a> {# TODO #}
            </div>

            <a href="{% url 'question-detail' question.pk %}" class="question-title">
                {{ question.title }}
            </a>
        <div style="clear: both"></div>
    {% endfor %}
{% endblock %}
