
{% extends 'base.html' %}

{% block title %}{{ question.title }} - {{ block.super }}{% endblock %}

{% block content %}
    <div class="question">
        <h3>{{ question.title }}</h3>
        {% if user == question.author %}
                    <a href="{% url 'question-edit' pk=question.pk%}" style="color:yellow;font-weight:bold;"> Edit </a>
                    {% endif %}
        <div>
            {{ question.body|linebreaks }}
             <p style="font-size: smaller">
            {{question.subject.title}}
             </p>
        </div>

        <p style="font-size: smaller">
            Asked by:
            <a href="{% url 'user-detail' pk=question.author.pk %}">
                {{ question.author.get_full_name|default:question.author.username }}
            </a>
            <br>
            Asked on: {{ question.created }}
            <br>
            Last modified: {{ question.modified }}
        </p>

        {# TODO: Voting. #}
    </div>

    {% with answers=question.answer_set.all %}  {# TODO: Ordering #}
        {% if answers %}
            <h2>Answers</h2>

            {% for answer in question.answer_set.all %}
                <div style="display: flex; justify-content: space-between; padding: 1em 2em;"
                     class="question">  {# XXX: Just use question, for now. #}

                    <div>{{ answer.body|linebreaks }}</div>

                    <div style="font-size: smaller">
                        Answered by:
                        <a href="{% url 'user-detail' pk=answer.author.pk %}">
                            {{ answer.author.get_full_name|default:answer.author.username }}
                        </a>
                        <br>
                        Answered on: {{ question.created }}
                        <br>
                        Last modified: {{ question.modified }}
                    </div>
                    {% if user == answer.author %}
                    <a href="{% url 'answer-edit' question_pk=question.pk pk=answer.pk %}" style="color:yellow;font-weight:bold;"> Edit</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
<h2>No answers yet <a href="{% url 'answer-create' question_pk=question.pk %}"> Add your answer here</a>
</h2>
        {% endif %}
    {% endwith %}

{% endblock %}
