{% extends 'base.html' %}

{% block title %}Subjects - {{ block.super }}{% endblock %}

{% block content %}
    <h1>Subjects</h1>

    <div >
        {% if user.is_authenticated %}
            <a href="{% url 'my-subject-list' pk=user.pk%}" >
                My Subjects </a>
            <a href="{% url 'subject-list' %}" >
                All Subjects </a>
        {% endif %}
    </div>

    <table>
    {% for subject in subject_list %}
        <tr>

            <td>
                <a href="{% url 'subject-detail' subject.pk %}">
                    {{ subject.title }}
                </a>
            </td>

            {% if user.is_authenticated %}
                <td style="font-size: smaller">
                    {% if not subject in user.subjects.all %}
                        <form action="" method="post" class="d-inline-block">
                            {% csrf_token %}
                            <button type="submit" value="{{ subject.pk }}" name="follow-subject">
                                Follow
                            </button>
                        </form>
                    {% else %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" value="{{ subject.pk }}" name="unfollow-subject">
                                Unfollow
                            </button>
                        </form>
                    {% endif %}
                </td>
            {% endif %}

        </tr>
    {% endfor %}
    </table>

{% endblock %}

