{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'buza/css/subjects.css' %}">
    <link rel="stylesheet" href="{% static 'buza/css/questions.css' %}">
{% endblock %}

{% block title %}{{ subject.title }} - {{ block.super }}{% endblock %}

{% block content %}
    <div class="subject_detail-container">
        <div class="subject__deck">
           {% for view_subject in subject_list %}
                 {% include 'includes/subject_cards.html' with subject=view_subject user=user csrf_token=csrf_token selected_subject=subject only%}
            {% endfor %}
        </div>
        <div class="subject__question_list">
                <span class="btn__new_question">
                    <a href="{% url 'question-create' subject_pk=subject.pk%}" class="btn btn-primary btn-buza-green">
                    Ask New {{subject.short_title}} Question
                    </a>
                </span>
            {% with questions=subject.question_set.all %}
                {% if questions %}
                    {% for question in questions %}
                        {% include 'includes/question_card_brief.html' with question=question only %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
