{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'buza/css/subjects.css' %}">
    <link rel="stylesheet" href="{% static 'buza/css/questions.css' %}">
{% endblock %}

{% block title %}{{ subject.title }} - {{ block.super }}{% endblock %}

{% block content %}
    <h3>{{ subject.title }}</h3>
    <div class="d-flex flex-wrap justify-content-between align-items-baseline">
        <h2>Questions</h2>
        <a href="{% url 'question-create' %}" class="d-block">
            <div class="btn btn-primary btn-buza-green">Ask New {{ subject.title }} Question</div>
        </a>
    </div>
    <div>
        {{ subject.description|linebreaks }}
    </div>

    <p style="font-size: smaller">
        Questions: {{ subject.question_set.count}}
        <br>
        Users: {{subject.user_set.count}}
        <br>
    </p>

    {% with questions=subject.question_set.all %}  {# TODO: Ordering #}
        {% if questions %}
            <h2>{{subject.title}} Questions</h2>

            {% for question in questions %}
                {% include 'includes/question_card_brief.html' with question=question only %}
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}
