
{% extends 'base.html' %}

{% block title %}{{ subject.title }} - {{ block.super }}{% endblock %}

{% block content %}
    <div class="question">
        <h3>{{ subject.title }}</h3>
        {% if user == question.author %}
                    <a href="{% url 'question-edit' pk=question.pk%}" style="color:yellow;font-weight:bold;"> Edit </a>
                    {% endif %}
        <div>
            {{ subject.description|linebreaks }}
             <p style="font-size: smaller">
            Tags???
             </p>
        </div>

        <p style="font-size: smaller">
            Questions: {{ subject.question_set.count}}
            <br>
            Users: To do
            <br>
        </p>

        {# TODO: Voting. #}
    </div>

    {% with questions=subject.question_set.all %}  {# TODO: Ordering #}
        {% if questions %}
            <h2>{{subject.title}} Questions</h2>

            {% for question in questions %}
             <div class="question">
            <div class=user-format>
                <button type="submit" class="material-icons icon" name='view_user'>account_circle </button>
                {{ question.author.get_full_name|default:question.author.username }}
                <a class="date"> {{ question.created }}</a> {# TODO #}
            </div>

            <a href="{% url 'question-detail' question.pk %}" class="question-title">
                {{ question.title }}
            </a>
        <div style="clear: both"></div>

            {% endfor %}

        {% endif %}
    {% endwith %}

{% endblock %}
