{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'buza/css/subjects.css' %}">
{% endblock %}

{% block title %}Subjects - {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="subject_heading ">Subjects</h1>

    <div  class="card-columns">

    {% for subject in subject_list %}
         <div class="card subject__card table-hover" >
               <a href="{% url 'subject-detail' subject.pk %}" class="subject_title">
                    {{ subject.title }}
                    <div class="card_body">
                {% if user.is_authenticated %}
                    {% if not subject in user.subjects.all %}
                        <form action="" method="post" class="d-inline-block">
                            {% csrf_token %}
                            <button type="submit" value="{{ subject.pk }}" name="follow-subject" class="btn btn-primary subject__follow-button">
                                follow
                            </button>
                        </form>
                        {% else %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="submit" value="{{ subject.pk }}" name="unfollow-subject" class="btn btn-primary subject__following-button">
                                following
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
                         <div>
                             <p class="card-text"><small class="text-muted">
                                {{ subject.question_set.count}} questions,  {{subject.user_set.count}} members
                             </small></p>
                        </div>
                    </div>
               </a>

         </div>
    {% endfor %}
         </div>
{% endblock %}

