{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'buza/css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'buza/css/subjects.css' %}">
{% endblock %}

{% block title %}{{ user_object.get_full_name }} - {{ block.super }}{% endblock %}



{% block content %}
    <h1 class="text-center">{{ user_object.get_full_name }}</h1>

    {# Viewing the signed-in user? #}
    {% if user_object == user %}
    <ul>
        <li><a href="{% url 'user-update' pk=user_object.pk %}">Edit Account</a></li>
        <li><a href="{% url 'password_change' %}">Change Password</a></li>
        <li><a href="{% url 'logout' %}">Sign out</a></li>
    </ul>
    {% endif %}

    {# get all the questions that the user has asked #}
    <div class="text-center">
        <a href="{% url 'user-detail' user_object.pk %}">
            @{{ user_object.username }}
        </a>
        <p class="date question__attribution buza-grey_text">
        {% if user_object.bio %}
            <p>{{ user_object.bio }}</p>
        {% endif %}
    </div>
    <div class="subject_detail-container">
        <div class="subject__question_list">
            {% for question in user_object.question_set.all %}
                {% include 'includes/question_card_brief.html' with question=question only %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
